[APP]
WORKER = 16
QUEUE_SIZE = 128
LANGUAGE = C
MIN_STAR = 100
DEBUG = false

[WEB]
GITHUB_TOKEN = <YOUR PERSONAL TOKEN 1>
GITHUB_TOKEN = <YOUR PERSONAL TOKEN 2>
GITHUB_TOKEN = <YOUR PERSONAL TOKEN 3>
TRYOUT = 5

[DB]
HOST = localhost
USER = root
PASSWORD = <YOUR DB PASSWORD>
DBNAME = GitHunter
PORT = 5432

[REPO]
CLONE_WORKER_NUMBER = 16
CLONE_LOWER_BOUND = 100
CLONE_STORAGE_PATH = /dev/shm/repos
CLONE_BATCH_SIZE = 256